<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item" aria-current="true">
        <label class="fw-bold mt-2">Today's Date : {{ todaysDate }}</label>
        <div *ngFor="let itme of _compareValidator">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
        </div>

        <div class="input-group mt-3 mb-3">
          <span class="input-group-text" id="basic-addon3"
            >Compare Date :
          </span>
          <input
            type="text"
            disabled
            class="form-control"
            value="{{ compareDate }}"
            placeholder="Enter your amount"
            aria-label="Enter your amount"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon1"
            (click)="IncreaseDate(counter)"
          >
            Increas
          </button>
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="ResetDate()"
          >
            Reset
          </button>

          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="CheckComparison()"
          >
            Test
          </button>
        </div>
        <!-- <input
          type="text"
          class="form-control"
          [(ngModel)]="value"
          (ngModelChange)="onValueChange($event)"
          bsDatepicker
        /> -->
      </li>
    </ul>
  </div>
</div>
