<div class="row">
  <div class="col-12 p-5">
    <ul class="list-group">
      <li class="list-group-item list-group-item" aria-current="true">
        <!-- <label class="fw-bold mt-2">Today's Date : {{ todaysDate }}</label> -->
        <div class="input-group mt-3 mb-3">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon1"
            (click)="IncreaseDate(counter)"
          >
            Increase
          </button>
          <input
            type="text"
            readonly
            class="form-control"
            value="{{ compareDate }}"
            placeholder="Enter your amount"
            aria-label="Enter your amount"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon1"
            (click)="DecreaseDate(counter)"
          >
            Decrease
          </button>
          <select
            class="form-select"
            id="inputGroupSelect01"
            aria-label="Default select example"
            [(ngModel)]="selected"
            name="status"
            placeholder="select"
            (ngModelChange)="onOptionsSelected()"
          >
            <option selected>Choose...</option>
            <option
              *ngFor="let catalog of _compareValidator"
              [ngValue]="catalog"
            >
              {{ catalog.name }}
            </option>
          </select>
          <!-- <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="CheckComparison()"
          >
            Test
          </button> -->
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="ResetDate()"
          >
            Reset
          </button>
        </div>
      </li>
      <li class="list-group-item list-group-item" aria-current="true">
        <div>
          Date Match with :: {{ dataMatch }} ::
          {{ dateCompare == true ? 'Match' : 'Unmatch' }}
        </div>
      </li>
    </ul>
  </div>
</div>
